{
  email codeowlcove@gmail.com
}

codeowlcove.com {
  root * /usr/share/nginx/html
  file_server
  try_files {path} /index.html
  reverse_proxy frontend:80
}

backend.codeowlcove.com {
  reverse_proxy backend:8080
}